[package]
name = "glimr-compiler"
version = "0.1.0"
edition = "2024"

[dependencies]
pico-args = "0.5"
regex = "1"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
strip = true
